* {
--main-bg        : #e7d7cc;
--main-fg        : #530000;

--menu-bg        : #007831;
--menu-fg        : #e7d7cc;
--menu-radius    : 10px;

--aion-title-font     : FreeMono;
--aion-main-font      : sans-serif;
}

