/* Read colors from another source */

* {
  font-family      : sans-serif;
  background       : var(--main-bg);
  color            : var(--main-fg);
  margin           : 4px;
}

#header {
  font-size        : xx-large;
  padding-left     : 8px;
  padding-top      : 8px;
  padding-bottom   : 8px;
  border-radius    : var(--menu-radius);
  position         : absolute;
  background       : var(--menu-bg);
  color            : var(--menu-fg);
  width            : 96%;
}

#header * {
  background       : var(--menu-bg);
  color            : var(--menu-fg);
}

#header-space {
  width: 200px;  
}

#sidebar {
  padding          : 8px;
  position         : absolute;
  margin-top       : 232px;
  background       : var(--menu-bg);
  color            : var(--menu-fg);
  border-radius    : var(--menu-radius);
  height           : 70%;
  overflow-y       : hidden;
  width            : 40px;
}

#sidebar * {
  background       : var(--menu-bg);
  color            : var(--menu-fg);
}

#contents {
  margin-left      : 72px;
  margin-top       : 232px;
  position         : absolute;
  /* border           : solid black 4px; */
}

#page-name {
  /* font-size        : xx-large; */
  /* border           : solid black 4px; */
  margin-left      : 172px;
}

#page-desc {
  font-size        : medium;
}
