/* ****************************************************************************************************************** * 
 * 
 * ****************************************************************************************************************** */

.search-bar IMG {
    /* background            : green; */
}

.search-bar INPUT {
    /* background            : orange; */
    border                : 0px solid black;
    border-bottom         : 2px solid #828282;
    padding               : 0px;
    margin                : 0px;
}

.search-bar * {
  /* border                  : 4px solid green; */
  margin                  : 0px;
  padding                 : 0px;
  background              : #FFFFDF;
  /* margin-right            : 10px; */
  /* background              : orange; */
}

.search-bar TD IMG {
  margin-right            : 12px;
  margin-left             : 12px;
}

.search-bar TD:nth-child(1) IMG {
  margin-left             : 0px;
}

.table-control TABLE {
  margin                  : 0px;
}

.table-control {
  border                  : 1px solid #000030;
}

.table-control TABLE {
  width                   : 100%;
  border-collapse         : collapse;
}

.table-header {
  font-size               : large;
  font-weight             : bold;
  margin                  : 0px;
  padding-left            : 10px;
  margin-top              : 10px;
  margin-bottom           : 10px;
}
