* {
  font-family        : sans-serif;
  background         : #e8e7da;
  margin             : 32px;
}

.test-prod-table THEAD TR TD,
.test-svc-table THEAD TR TD {
  color              : #FFB020;
  font-weight        : bold;
  font-size          : large;
  background         : #000000;
  padding-top        : 10px;
  padding-bottom     : 10px;
}

.test-prod-table THEAD TR TD SPAN,
.test-svc-table THEAD TR TD SPAN {
  background         : #000000;
}


.test-prod-table TBODY TR TD,
.test-svc-table TBODY TR TD {
  color              : #00008F;
}

.test-prod-table TFOOT TR TD,
.test-svc-table TFOOT TR TD {
  color              : green;
}
