<!doctype html>
<!-- -->
<html>
  <head>
    <title><{title}></title>

    <!-- Local CSS style -->
    <link rel="stylesheet" href="/static/css/colors.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <{css}>

    <!-- Javascript File -->
    <script src="/static/js/core.js"></script>
    <{js}>
  </head>

  <body>
    <script type="text/javascript">
      let pageId = '<{id}>';
      let data = {};
      data [pageId] = {};
    </script>

    <!-- The sidebar controll -->
    <div id="sidebar">
      <img src="/static/svg/pages/dashboard.svg" width="32px" height="32px"/>
      <img src="/static/svg/pages/db.svg" width="32px" height="32px"/>
      <img src="/static/svg/pages/customers.svg" width="32px" height="32px"/>
      <img src="/static/svg/pages/server.svg" width="32px" height="32px"/>
      <img src="/static/svg/pages/query.svg" width="32px" height="32px"/>
      <img src="/static/svg/pages/logs.svg" width="32px" height="32px"/>
      <img src="/static/svg/pages/settings.svg" width="32px" height="32px"/>
    </div>

    <!-- The page header -->
    <div id="header">
      <table>
        <tr>
          <td id="page-icon"><img src="<{icon}>" width="128px" height="128px"/></td>
          <td>
            <table>
              <tr>
                <td id="page-name" width="500px"><h3><{name}></h3></td>
              </tr>
              <tr>
                <td id="page-desc"><{desc}></td>
              </tr>
            </table>
          </td>
          <!-- <td id="header-space"/> -->
          <td id="brand-name"><h1>Control Plane</h1></td>
          <td id="brand-name"><img src="/static/svg/icon.svg" width="128px" height="128px"/></td>
        </tr>
      </table>
    </div>

    <!-- The page contents -->
    <div id="contents"><{body}></div>

    <script type="text/javascript">
      console.log('The file has loaded. Repeat, the file has loaded');
    </script>
  </body>
</html>

