<!doctype html>
<!-- -->
<html>
  <head>
    <title><{name}></title>

    <!-- Local CSS style -->
    <!--
    <link rel="stylesheet" href="/static/css/colors.css"/>
    <link rel="stylesheet" href="/static/css/test.css"/>
    <link rel="stylesheet" href="/static/css/table.css"/>
    -->

    <!-- Javascript File -->
    <!--
    <script src="/static/js/core.js"></script>
    <script src="/static/js/table.js"></script>
    -->

    <!-- <script src="/static/js/test.js"></script> -->
  </head>

  <body>
    <script type="text/javascript"> let data = {}; </script>
    <h1>Testing Page Generation</h1>
  
    <hr/>

    <div><{body}></div>

    <script type="text/javascript">
      console.log('The file has loaded. Repeat, the file has loaded');
    </script>
  </body>
</html>

